html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.dummy {
	padding-top: 56.25%;
}
.swipe-card .thumbnail {
	width: 416px;
	height: 234px;
}

@media screen and (max-width: 416px){
	.swipe-card .thumbnail {
		width: 100%;
		height: 56.25%;
	}
}

>>>>>>> 2bd5922ef457ef2a890ba62472c7fa4a4d022a90
.swipe-card {
	display: inline-block;
	position: absolute;
	width: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 820px){
	.swipe-card {
		width: 738px;
	}
}

.trailer-video {
	text-align: center;
}

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: contain;
	line-height: 20px;
	vertical-align: middle;
}
.icon-google {
	background-image: url("https://images.google.com/images/branding/product/ico/googleg_lodp.ico");
}

.swipe-actions {
	text-align: center;
}

/*
.from-bottom {
	position: absolute;
	bottom: 0;
	padding: 0;
}
*/
