html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

ul {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

li {
	list-style: none;
}

.dummy {
	padding-top: 56.25%;
}
.swipe-card .thumbnail, iframe {
	width: 416px;
	height: 234px;
}

@media screen and (max-width: 416px){
	.swipe-card .thumbnail, iframe {
		width: 100%;
		height: 56.25%;
	}
}

.swipe-card {
	display: inline-block;
	position: absolute;
	width: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 820px){
	.swipe-card {
		width: 738px;
	}
}

.trailer-video {
	text-align: center;
	background: none;
}
.trailer-background {
	background-repeat: repeat-x;
	background-size: cover;
	filter: blur(3px);
	-webkit-filter: blur(10px);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.trailer-video iframe, .thumbnail {
	margin: auto;
}

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-size: contain;
	line-height: 20px;
	vertical-align: middle;
}
.icon-netflix {
	background-image: url(../../assets/netflix-icon.ico);
}
.icon-hulu {
	background-image: url("../../assets/hulu-icon.ico");
}
.icon-disabled {
	filter: gray(1);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	opacity: 0.1;
}

.swipe-actions {
	text-align: center;
}

/*
.from-bottom {
	position: absolute;
	bottom: 0;
	padding: 0;
}
*/

.description-text, .available-text {
	padding-top: 0;
}

.description-text i {
	font-size: 12px;
}

.information {
	background: #FFF;
	margin-top: -1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}